.float-left {
    float: left;
  }
  
  .float-right {
    float: right;
  }
  
  .nb{
    background-color: black;
    color:orange;
  }
  ul{
    text-align: center;
  }
  li {
    display:inline-block;
    
    background-color: black;
    color:rgb(255, 106, 0);
    
    margin-right:100px;
}
.linkCol{
    color:orange;
}

.cardText{
    margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color:black;
}
